VITE_SUPABASE_URL="https://alijacsryvlqvrusiass.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsaWphY3NyeXZscXZydXNpYXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwOTM1NDcsImV4cCI6MjA5NDY2OTU0N30._hgDtZ1tbyUUfYIY7lP87ETPx7qnY6Vw76_55Ipf_yc"
